body{
	background-color:grey;
	margin:0px;
	overflow:hidden;
}

#container{
	position:relative;
}

#screen{
	position:relative;
	width:1024px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
}

#mainMenu{
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	padding-top:150px;
	z-index:100;
}

#level{
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:600px;
	background-image: url("../img/bg/tile1.png");
}

#bgStuff{
	position:absolute;
	left:0px;
	top:300px;
	width:1024px;
	height:300px;
	background-image: url("../img/bg/bgstuff/rock1.png");
	background-repeat: repeat-x;
	z-index:1;
}

#curtainLeft, #curtainRight, #curtainBottom{
	position:absolute;
	z-index:101;
	background-color:grey;
}

#curtainLeft, #curtainRight{
	width:256px;
	height:600px;
}

#curtainLeft{
	left:-256px;
	top:0px;
}

#curtainRight{
	left:1024px;
	top:0px;
}

#curtainBottom{
	width:3072px;
	height:200px;
	left:-1024px;
	top:600px;
}

#logo{
	text-align:center;
	color:white;
	font-size:60px;
}

#btnPlay{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:80px;
	text-align:center;
	background-color:green;
	border-radius:5px;
	cursor:pointer;
	font-size:50px;
	color:rgb(230,230,230);
	border:1px solid green;
	line-height:80px;
}

#btnPlay:hover{
	color:white;
	border:1px solid white;
}

#player{
	position:absolute;
	width:125px;
	height:107px;
	z-index: 4;
	background-image: url("../img/sprite/sheet.png");
}

#helmet{
	border-radius: 50%;
	position:absolute;
	width:30px;
	height:30px;
	background-color:white;
	z-index: 3;
}

.tile, .portal{
	position:absolute;
	z-index: 2;
}

.portal {
	background-image: url("../img/bg/bunker.png");
	background-repeat: no-repeat;
}