img/sprite/Thumbs.db
img/sprite/green/Thumbs.db
img/sprite/red/Thumbs.db
img/sprite/yellow/Thumbs.db
img/sprite/blue/Thumbs.db
img/bg/Thumbs.db
img/bg/BGstuff/Thumbs.db
img/bg/platforms/Thumbs.db
